 .center {
   min-height: 60vh;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .card {
   padding: 24px;
   border: 1px solid var(--border-color);
   border-radius: var(--border-radius-sm);
   display: flex;
   flex-direction: column;
   gap: var(--spacing-md);
   align-items: center;
 }
 
 .title {
   font-size: var(--font-size-lg);
   color: var(--main-text-color);
 }
 

