.root {
  position: fixed;
  right: var(--spacing-md);
  bottom: var(--spacing-md);
  z-index: 50;
}

.button {
  width: 56px;
  height: 56px;
  /*border-radius: var(--border-radius-round);*/
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow-md);
}

.button svg {
  width: 22px;
  height: 22px;
  display: block;
}


