 .container {
   /*width: 100%;*/
   margin-left: auto;
   margin-right: auto;
   padding-left: var(--spacing-md);
   padding-right: var(--spacing-md);
   margin-top: var(--spacing-lg);
   margin-bottom: var(--spacing-lg);
 }
 
.bootLoading {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

 @media (min-width: 768px) {
   .container {
     max-width: 768px;
     padding-left: 0;
     padding-right: 0;
     margin-top: var(--spacing-lg);
     margin-bottom: var(--spacing-xl);
   }
 }
 

