.root {
  padding: var(--spacing-md);
  background-color: var(--main-bg);
  border-bottom: 1px solid var(--border-color);
  border-radius: 0;
}

.root:last-child {
  border: none;
}


/* .root:hover {
    background-color: var(--second-bg);
} */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-sm);
  cursor: pointer;
}

.info {
  padding-right: var(--spacing-sm);
  flex: 1 1 auto;
  min-width: 0;
}

/*.summary {*/
/*    font-weight: 400;*/
/*}*/

.muscles {
  font-size: var(--font-size-sm);
  color: var(--disabled-text-color);
}

.chevron {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  transition: transform 120ms ease-in-out;
}

.chevronOpen {
  transform: rotate(180deg);
}

.children {
  margin-top: var(--spacing-sm);
  /*padding-left: var(--spacing-md);*/
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.title {
  font-weight: 400;
  color: var(--second-text-color);
}

.title > span {
  font-weight: 700;
  color: var(--main-text-color);
}
